

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}



.retangulo-topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#01AE7A ;
  padding: 20px;
  color: white;
}

.helth-care {
  font-size: 32px;
  margin: 0;
}

.logo-clinica {
  max-width: 100px;
  height: auto;
  border-radius: 10px ;
}



.meio {
  margin: 40px auto;
  max-width: 400px;
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.crie-conta {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 30px;
  font-weight: 500;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
}


input[type="text"] + label,
input[type="email"] + label,
input[type="password"] + label 
input[type="cpf"] + label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="cpf"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.criar-conta1 {
  background-color:#01AE7A ;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 10px 20px;
  transition: all 0.3s ease;
  margin-bottom: 30px;
  height:50px ;
  width:150px ;
  font-size: 20px;
}


footer {
  background-color: #01AE7A;
  height: 100px;
}
