.572_242 { 
	overflow:hidden;
}
.e572_242 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e572_243 { 
	transform: rotate(0.010224027684258deg);
	background-color:rgba(1.0000000591389835, 174.00000482797623, 122.00000032782555, 1);
	width:1441.999267578125px;
	height:225.74269104003906px;
	position:absolute;
	left:-1.959716796875px;
	top:0px;
}
.e572_244 { 
	transform: rotate(0.0056259622679769765deg);
	width:181.88314819335938px;
	height:162.56826782226562px;
	position:absolute;
	left:629.62353515625px;
	top:11.578356742858887px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_245 { 
	color:rgba(255, 255, 255, 1);
	width:1172.0126953125px;
	height:206.77249145507812px;
	position:absolute;
	left:147.02601623535156px;
	top:164.97377014160156px;
	font-family:Open Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}
.e572_246 { 
	transform: rotate(90deg);
	width:40.00981140136719px;
	height:62.999698638916016px;
	position:absolute;
	left:29.997844696044922px;
	top:173.99464416503906px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e572_248 { 
	color:rgba(10.536458417773247, 10.625000316649675, 10.59838654473424, 1);
	width:1062px;
	height:126px;
	position:absolute;
	left:188px;
	top:241px;
	font-family:Open Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e572_253 { 
	background-color:rgba(1.0000000591389835, 174.00000482797623, 122.00000032782555, 1);
	width:1140px;
	height:187px;
	position:absolute;
	left:152px;
	top:324px;
}
.e572_249 { 
	width:1140px;
	height:428px;
	position:absolute;
	left:152px;
	top:324px;
}
.e572_250 { 
	color:rgba(255, 255, 255, 1);
	width:606.0374145507812px;
	height:60.724639892578125px;
	position:absolute;
	left:279.1628723144531px;
	top:2.2737367544323206e-13px;
	font-family:Open Sans;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e572_251 { 
	transform: rotate(-1.4005471181968574e-14deg);
	width:1140px;
	height:0px;
	position:absolute;
	left:-4.547473508864641e-13px;
	top:60.724578857421875px;
}
.572_251 { 
	border:1px solid rgba(255, 252.87500202655792, 252.87500202655792, 1);
}
.e572_252 { 
	color:rgba(255, 255, 255, 1);
	width:1051.6829833984375px;
	height:126.5096664428711px;
	position:absolute;
	left:53px;
	top:79px;
	font-family:Open Sans;
	text-align:center;
	font-size: 25px;
	letter-spacing:0;
}
.e572_254 { 
	background-color:rgba(1.0000000591389835, 174.00000482797623, 122.00000032782555, 1);
	width:1140px;
	height:182px;
	position:absolute;
	left:0px;
	top:246px;
}
.e572_256 { 
	width:1191px;
	height:432px;
	position:absolute;
	left:120px;
	top:570px;
}
.e572_257 { 
	color:rgba(255, 255, 255, 1);
	width:602.8477172851562px;
	height:60.434783935546875px;
	position:absolute;
	left:305.69366455078125px;
	top:0px;
	font-family:Open Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e572_258 { 
	transform: rotate(-1.39979973443687e-14deg);
	width:1134px;
	height:0px;
	position:absolute;
	left:28px;
	top:60.434783935546875px;
}
.572_258 { 
	border:1px solid rgba(255, 252.87500202655792, 252.87500202655792, 1);
}
.e572_259 { 
	color:rgba(255, 255, 255, 1);
	width:1161px;
	height:119px;
	position:absolute;
	left:15px;
	top:54px;
	font-family:Open Sans;
	text-align:center;
	font-size: 25px;
	letter-spacing:0;
}
.e572_260 { 
	background-color:rgba(1.0000000591389835, 174.00000482797623, 122.00000032782555, 1);
	width:1150px;
	height:203px;
	position:absolute;
	left:22px;
	top:220px;
}
.e581_261 { 
	color:rgba(255, 255, 255, 1);
	width:1191px;
	height:144px;
	position:absolute;
	left:0px;
	top:288px;
	font-family:Open Sans;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e581_262 { 
	width:1134px;
	height:50px;
	position:absolute;
	left:44px;
	top:220px;
}
.e581_263 { 
	color:rgba(255, 255, 255, 1);
	width:427.4042663574219px;
	height:50px;
	position:absolute;
	left:353px;
	top:0px;
	font-family:Open Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e581_264 { 
	transform: rotate(-2.693039577944257e-8deg);
	width:1134px;
	height:0px;
	position:absolute;
	left:0px;
	top:50px;
}
.581_264 { 
	border:1px solid rgba(255, 252.87500202655792, 252.87500202655792, 1);
}
.logo1{
  height: 10;
  width: 10;
 
}

.logomg1{
   position:absolute;
  z-index: 15px;


  
}
