* {
	margin: 0px;
	padding: 0px;
}

.tela-total {
	width: 100%;
	height: 1024px;
	background-color: rgb(255, 255, 255);
}

.cabeçalho {
	height: 150px;
	width: 100%;
	background-color: #01AE7A;
	top: 0%;
	position: absolute;
	left: 0%;
	margin: 0px;
	border: 0px;
	display: flex;
  }
  
  .logo {
	width: 120px;
	height: 120px;
	border-radius: 5%;
	position: absolute;
	left: 10px;
	top: 10%;
	align-items: center;
	justify-items: center;
  }
  
  .titulo {
	font-size: 40px;
	position: absolute;
	left: 150px;
	top: 30px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	cursor: default;
  }
  .login {
	position: absolute;
	left: 80%;
	background-color: white;
	top: 10%;
	height: 50px;
	width: 200px;
	border-radius: 100px;
	border: 0px;
	cursor: pointer;
  }
  
  .login2 {
	height: 100%;
	width: 50px;
	left: 0%;
	top: 0%;
	position: absolute;
  }
  
  .login3 {
	position: absolute;
	font-size: 30px;
	top: 9px;
	left: 30%;
	font-family: 'Open Sans', sans-serif;
  }

  .bem-vindo {
	text-align: center;
	margin-top: 108px;
	color: white;
	font-weight: 1000;
	font-family: 'Open Sans', sans-serif;
	margin-left: 800px;
  }
  .seta {
	width: 30px;
	height: 50px;
	rotate: -90deg;
	align-content: center;
	margin-left: -400px ;
	margin-top: 105px;
  }

  .corpo {
	width: 100% ;
	height: 900px;
	margin-top: 150px;
	display: flex;
  }

  .div1 {
	background-color: #01AE7A;
	width: 500px;
	height: 100px;
	margin-top: 80px;
	font-family: 'Open Sans' , sans-serif;
	font-size: 13px;
	text-align: center;
}

.proximas {
	margin-top: 10px;
}
  
.div3 {
	background-color: #01AE7A;
	width: 500px;
	height: 100px;
	margin-top: 400px;
	font-family: 'Open Sans' , sans-serif;
	font-size: 13px;
	text-align: center;
  	margin-left: 0px;
}
 
